/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-image: url('./images/Untitled\ design\ \(1\).png'); /* Replace 'background.jpg' with your image path */
    background-size: cover; /* Make the background cover the entire page */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    background-position: center; /* Center the background image */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.container {
    max-width: 800px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.card {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
}

p, li {
    font-size: 1.2em;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #ff7300;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #ff5500;
}
