/* Add this to styles.css */

body {
    background-color: rgba(0, 128, 128, 1.00);
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    min-height: 100vh; /* Ensure the body takes at least the full height of the viewport */
}

.left, .right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button button {
    cursor: pointer;
}

.bitcoin-image {
    max-width: 100%;
    height: auto;
}

.bitcoin-container {
    position: relative;
    margin-bottom: 20px;
}

.bitcoin-image {
    animation: rotate 3s infinite linear;
    
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}